<!DOCTYPE html>
<html>
<head>
    <title>Resume Analyzer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<div class="container">
    <h1>Upload Your Resume</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <label for="jd_text">Paste Job Description:</label><br>
        <textarea name="jd_text" rows="6" cols="50" placeholder="Example: Looking for a candidate with skills in Python, Django, SQL..."></textarea><br><br>

        <button type="submit">Upload</button>
    </form>

    {% if extracted_skills %}
        <h2>Extracted Skills:</h2>
        <ul>
            {% for skill in extracted_skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if matched_skills %}
        <h2>Matched Skills ({{ match_score }}% match)</h2>
        <ul>
            {% for skill in matched_skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>

        {% if match_score >= 60 %}
            <p style="color: green;"><strong>✅ Suitable for next round!</strong></p>
        {% else %}
            <p style="color: red;"><strong>❌ Not enough skill match.</strong></p>
        {% endif %}
        {% if match_score >= 60 %}
            <p style="color: green;"><strong>✅ Suitable for next round! Added to shortlisted.csv.</strong></p>
        {% endif %}


    {% endif %}
</div>
</body>
</html>
